#
# Configure what UID and GID your PHP container must use.  This usually should
# match your Hosts UID and GID.  To find your local UID you can run id -u and
# to find your local GID you can run id -g.
#
C_UID=1000
C_GID=1000

#
# Choose your PHP version. To see which versions are available see
# https://github.com/dockerwest/php-pimcore
#
PHPVERSION=7.1

#
# Choose what version of Nginx you want. To see which versions are available
# see https://github.com/dockerwest/nginx-pimcore
#
NGINXVERSION=stable

#
# This setting defines what the hostname will be you can browse your pimcore
# app.  The example configuration will be give you http://pimcore.dev.
#
BASEHOST=pimcore.test
# when you need additional hosts to point to your environment you can add them
# comma separated to the EXTRAHOSTS variable, when not needed you can just
# leave this commented
#EXTRAHOSTS=api.pimcore.test,demo.pimcore.test

#
# Choose whatever you want to use as default mysql root password.
#
MYSQL_ROOT_PASSWORD=toor

#
# A relative or absolute path to your pimcore code.
#
APPLICATION=../pimcore

#
# Set the development flag. Default we use noprofile which will allow us to use
# xdebug.  When DEVELOPMENT=1 you also have tideways enabled which gives you
# profiling output of you application.  To visualize your profiling output see
# https://github.com/BlackIkeEagle/docker-compose-xhgui
#
DEVELOPMENT=noprofile

#
# Set the default window manager when running the environment
# Available options are: tmux, screen and byobu
#
WINDOW_MANAGER=tmux
